p {
  color: red;
}
h1 {
  color: green;
  background-color: gray;
}
body {
  background-image: url(4105022.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
button {
  color: red;
  background-color: green;
}
