/* }
dibody{
    text-align: center;
v{
    height: 100px;
    width: 50px;
    border: 2px solid black;
    display: inline-block;
}
#container{
    /* width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    */
    flex-direction: row;
    width: 800px;
    height: 200px;
    display: flex;
} */
#box1{
    background-color: aqua;
   
   flex-grow: 1;
}
#box2{
    background-color: grey;
    /* height: 200px;
    align-self: flex-end; */

    align-self: flex-end;
}
#box3{
    background-color: red;
    flex-grow:1;
    align-self: flex-end;
}
#box4{
    background-color: skyblue;
    /* align-self: flex-end; */
    align-self: flex-end;
}
#box5{
    background-color: yellow;
    /* align-self: center; */
}