/* div {
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: 2px solid black;
  display: inline-block;
  position: relative;
  margin-right: 20px;
}
#box1 {
  background-image: url('back.jpg');
  background-size: cover;
}
body {
  background-image: url('back.jpg');
  background-size: cover;
}
#box2 {
  height: 50px;
  color: red;
  border: 2px solid black;
} */
div {
  height: 100px;
  width: 100px;
  border: 2px dotted black;
  background-color: aqua;
}
#box1 {
  /* padding-left: 25px; */
}
